__pycache__/

bamsormadup*
*.save
foo.sh
try-me
pipeline-runner
coverage.tsv
*_links.tsv
a.out
make-variants
*.dSYM/
*.vcf

zymo/

tools/split/fastqrand
tools/split/fastqsplit

tools/fq/bin
tools/fq/obj
tools/fq/tmp

hcov-illumina/samples
hcov-thermo/samples
human/samples