__pycache__/

bamsormadup*
*.save
foo.sh
try-me
pipeline-runner
coverage.tsv
*_links.tsv
a.out
make-variants
*.dSYM/
*.vcf

zymo/

tools/split/fastqrand
tools/split/fastqsplit

tools/new-hcov-report/jobs/
tools/new-hcov-report/logs/

tools/fq/bin
tools/fq/obj
tools/fq/tmp

hcov/hcov-illumina/samples
hcov/hcov-illumina/logs/
hcov/hcov-illumina/jobs/

hcov/hcov-thermo/samples
hcov/hcov-thermo/logs/
hcov/hcov-thermo/jobs/

hcov/hcov-illumina-se/samples
hcov/hcov-illumina-se/logs/
hcov/hcov-illumina-se/jobs/

human/samples

rna-pipeline/working*
rna-pipeline/jobs.tsv
rna-pipeline/rna-sequence.log

tools/variant-store/tools/*.tsv
