__pycache__/

bamsormadup*
*.save
foo.sh
try-me
pipeline-runner
coverage.tsv
*_links.tsv
a.out
make-variants
*.dSYM/
*.vcf

zymo/

tools/split/fastqrand
tools/split/fastqsplit

tools/fq/bin
tools/fq/obj
tools/fq/tmp

hcov-illumina/samples
hcov-illumina/*.log
hcov-thermo/samples
hcov-thermo/*.log
human/samples

rna-pipeline/working*
rna-pipeline/jobs.tsv
rna-pipeline/rna-sequence.log

tools/variant-store/tools/*.tsv
